.navbar{
    background-color: #315383;
}
.jumbotron{
    background-image:url(/img/vitrine.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-primary{
    color: black;
    background-color: #e7ad99;
    border-color: #e7ad99;
}
.bg-dark{
    background-color: #010e30 !important;
}